@using Core.Models
@model CreateNoteModel

<h5 class="title">CREATE NEW NOTE</h5>
<form class="form" asp-action="create" asp-controller="notes" method="post">
	<div class="field large">
		<label asp-for="Title"></label>
		<input asp-for="Title">
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="field large">
		<label>Topic</label>
		<select asp-for="TopicId" asp-items="@ViewBag.Topics">
			<option>Please select one</option>
		</select>
		<span asp-validation-for="TopicId" class="text-danger"></span>
	</div>
	<div class="field">
		<label asp-for="Body"></label>
		<textarea asp-for="Body">Hello, World!</textarea>
		<span asp-validation-for="Body" class="text-danger"></span>
	</div>
	<div class="right">
		<button class="button large">Save</button>
		<a class="button large" asp-action="index">Cancel</a>
	</div>	
</form>
