@using Core.Models
@model CreateNoteModel

<h4>Create new note	</h4>
<form asp-action="create" asp-controller="notes" method="post">
	<div class="field">
		<label class="field__wrapper" asp-for="Title">
			<input asp-for="Title">
			<span class="field__label">Normal</span>
			<span asp-validation-for="Title" class="text-danger"></span>
		</label>		
	</div>
	<div class="field">
		<textarea asp-for="Body">Hello, World!</textarea>
		<span asp-validation-for="Body" class="text-danger"></span>
	</div>
	<div class="actions">
		<button class="button">Save Changes</button>
		<a class="button" asp-action="index">Cancel</a>
	</div>	
</form>
