@using Core.Models
@model UpdateNoteModel

<h5 class="title">EDIT A NOTE</h5>
<form class="form" asp-action="edit" asp-controller="notes" method="post">
	<input type="hidden" asp-for="NoteId"/>
	<div class="field large">
		<label asp-for="Title"></label>
		<input asp-for="Title" autocomplete="off">
		<span asp-validation-for="Title" class="text-danger"></span>
	</div>
	<div class="field large">
		<label>Topic</label>
		<select asp-for="TopicId" asp-items="@ViewBag.Topics">
			<option>Please select one</option>
		</select>
		<span asp-validation-for="TopicId" class="text-danger"></span>
	</div>
	<div class="field">
		<label asp-for="Body"></label>
		<textarea asp-for="Body">Hello, World!</textarea>
		<span asp-validation-for="Body" class="text-danger"></span>
	</div>
	<div class="left">
		<span class="material-icons">
			edit_calendar
		</span>
		<p class="date">
			Created <span>@Model.CreatedDate.ToString("dd/MM/yyyy hh:mm tt")</span> | Last Update <span>@(Model.LastModifiedDate == null ? "" : Model.LastModifiedDate.Value.ToString("dd/MM/yyyy hh:mm tt"))</span>
		</p>
	</div>
	<div class="right">
		<button class="button large">Save</button>
		<a class="button large" asp-action="index">Cancel</a>
	</div>
</form>
