<div class="not-result">
	<img src="~/img/404_copy.png" alt="Alternate Text" />
	<h2 class=" text-center">The note or page you are looking for doesn't exist</h2>
	<a class="button" asp-action="index" asp-controller="notes">Back</a>
</div>
