/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary-text-color: #999EB7;
    --secondary-text-color: #1A1B4B;
    --helper-text-color: red;
    --background-color: #F6F5FA;
    --primary-color: #F7A400;
    --secondary-color: #F7A400;
    --line-color: #E3E2E7;
    --font-family: 'Roboto', sans-serif;
    --danger-color: #EF4423;
    --hover-color: #3A9EFD;
}

body {
    background-color: var(--background-color);    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}

.not-result {    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;    
    padding: 10px;
    margin-bottom: 10px;    
}

.not-result > img {
   display: block;
   width: 50%;
}

.not-result > h2 {
    font-size: 1.4rem;
}

.header {
    width: 100%;
    background-color: white;
    padding: 0.4em;
    box-shadow: 2px 0px 8px 0px rgba(0,0,0, 0.4);
    margin-bottom: 2rem;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none !important;
    color: #F7A400;
    font-weight: bold;
    font-size: 1.5rem;    
}

.logo > span {
    color: #999EB7;
}

.logo:hover {
    color: #F7A400;    
}

.logo:hover > span {
    color: var(--hover-color);
}

.searchbar {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;    
    padding: 0 !important;    
}

.searchbar__box {
    padding-left: 0.7rem;
    display: none;
    margin-left: 0px;
    color: var(--secondary-text-color);
    height: 28px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
}

.searchbar__button {
    font-size: 18px;
    color: #1A1B4B;
    background-color: transparent;
    padding: 0px;    
    outline: none;
    border: none;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    align-items: center;
}

button.searchbar__button:focus {    
    outline: none;
}

button.searchbar__button:active,
button.searchbar__button:focus {
    outline: none !important;
}

div.searchbar__button {
    display: none;
}

.searchbar__button > span {
    line-height: 28px;
    font-size: 1.3rem;

}

.show {
    width: 50%;    
    border: 1px solid var(--primary-text-color);
}

.show > .searchbar__box {
    display: block;
    width: 88% !important;    
}

.close-icon {
    display: none;
}

.show > .searchbar__button > .show-icon { 
    display: none;
}

.show > .searchbar__button > .close-icon { 
    display: block;
}

.show > .searchbar__button {
    background-color: var(--secondary-text-color);
    color: white;
}

h5.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.large {
    width: 100%;
}

.field {    
    display: flex;
    flex-direction: column;
}

.field > label {
    color: var(--secondary-text-color);
    font-weight: 500;
    margin-bottom: 2px;    
}

.field > input {    
    height: 28px;
    color: var(--secondary-text-color);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-text-color);
}

.field > select {    
    height: 28px;
    color: var(--secondary-text-color);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-text-color);
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0px 3px 4px 0px  rgba(0,0,0,0.45);
    border-radius: 4px;    
}

.button-group > button {    
    background-color: var(--primary-color);
    width: auto !important;
    height: 30px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    color: white;
    z-index: 1;
}

.button-group > button:active,
.button-group > button:focus {
    outline: none;
    border: none;
}

.button-group > button:hover {
    background-color: var(--hover-color);
}

.button-group > button > span {
    height: 28px;
    line-height: 28px;
    vertical-align: middle !important;
}

.button-group > select {
    background-color: white;
    width: auto !important;
    height: 30px;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border-left: none !important;
    border: none;
    border-radius: 0;
    border: 1px solid var(--primary-color);

}

label > span {
    vertical-align: middle;    
}

.field > input:active, .field > input:hover,
.field > select:active, .field > select:hover{
    border-bottom: 2px solid var(--primary-color);    
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal > * {
    margin-right: 5px;
}

.horizontal > label > span {
    color: var(--secondary-text-color) !important;
}

.inverse-text {
    transform: scale(-1, 1);
}

.button {
    
    background-color: var(--primary-color);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: white;
    box-shadow: 0px 3px 4px 0px  rgba(0,0,0,0.45);
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    text-decoration: none !important;    
    text-align: center;
    margin: 0px !important;    
    min-width: 100px;
}

.button-large {
    width: 100%;
}

.button > span {
    font-size: 1rem;
    vertical-align: middle;
}

.button:hover { 
    color: white;
    background-color: #3A9EFD;
}

.box {
    display: flex;    
    margin-bottom: 15px;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 10px;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;        
    align-items: center;
    gap: 10px;
}

.card-group {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card {
    width: 100%;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    border: none;
    border-radius: 0px;
    margin: 0px !important;
}

.card__number {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1;
    display: block; 
    width: 15%;
    height: inherit;
    margin:0px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__layout {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 5px;
}

.card__summary {
    padding: 0.4rem;
    width: 100%;
    text-decoration: none !important;
}

.card__summary:active {
    text-decoration: none;
}

.card__summary:focus {
    text-decoration: none;    
}

.card__summary > * {
    margin: 0;
    padding: 0rem;
}

.card__summary_title {
    width: 235px;
    color: var(--secondary-text-color);    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
    font-size: 0.8rem;
    font-weight: bolder;   
    margin-bottom: 5px;
}

.card__summary_footer > span {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    color: white;
    min-width: 50px;    
    text-align: center;
}

.card__summary_body {
    display: none !important;
    font-size: 0.6rem;
    color: var(--primary-text-color) !important;
}

.card__summary_footer {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);       
}

.card__overlay {
    display: none;
}

.card__button-delete {    
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.card__button-delete:focus {
    color: #FF0000;     
}

.card__button-delete > button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #FF0000; 
}

.ascendent {
    transform: scale(-1, 1);
}

.descendent {
    transform: scale(1, -1);
}

.date {
    font-size: 0.7rem;
    color: var(--primary-text-color);
    margin: 0;
}

.date > span{
    color: var(--secondary-text-color);
}

@media only screen and (min-width: 600px){
    
    .large {
        width: auto;
    }

    .header{ 
        margin-bottom: 3rem;
    }

    .card-group {
        flex-direction: row;
        flex-wrap: wrap !important;
        flex-basis: 33.33%;
        justify-content: flex-start;
        gap: 20px;
    }

    .card {
        display: flex;
        padding: 0px;
        height: 120px;
        flex: 0 0 48% !important;
    }
    
    .card:hover {
        background-color: var(--primary-color);
        color: white;
    }
    
    .card:hover
    .card:hover h6.card__summary_title {
        color: white !important;
    }

    .card:hover .card__summary_footer {
        border-top: 1px solid white;
        color: white !important;
    }

    .card:hover .card__summary_footer > span {
        background-color: white;
        color: var(--primary-color);
        font-weight: bold;
    }

    .card__layout {
        height: inherit;
    }

    .card__summary {
        height: inherit;
        padding: 0;
        display: flex;
        flex-direction: column;                
        justify-content: space-between;
        
    }

    .card__summary_body {       
        display: block !important;    
        padding: 10px;
    }

    .card__summary_body > * {
        font-size: 8px !important;     
    }

    .card__button-delete, .card__number {
        display: none;
    }

    .card__summary_title {    
        font-size: 0.9rem;
        padding: 15px;
        margin: 0;   
        white-space:normal;
        text-overflow:clip;
        overflow: hidden;   
        height: auto !important;
        width: 100%;
    }

    .card__summary_footer {           
        border-top: 1px solid var(--line-color);
        padding: 5px;
        padding-left: 10px;
        margin: 0;        
    }

    .card__button-delete {
        z-index: 1;
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        right: 0;
        top: 0;        
        background-color: white;
        color: var(--danger-color);
        border: 2px solid var(--danger-color);
        box-sizing: content-box;
        border-radius: 50%;
        margin-top: -8px;
        margin-right: -8px;
        text-align: center;
        padding: 0 !important;
    }
    
    .card__button-delete > button {
        text-align: center;
        padding: 0px;
        color: var(--danger-color);
    }

    .card__button-delete span {
        line-height: 25px;
        width: inherit;
        height: inherit;        
        font-size: 1.3rem;
    }

    .card__button-delete:hover {
        transform: scale(1.5, 1.5);
        transition-duration: 200ms;
    }
}


@media only screen and (min-width: 1024px){
        
    .searchbar {
        border: 1px solid var(--primary-text-color);
        border-radius: 20px;
        width: 50%;
        height: 30px;
        padding-left: 10px;
        padding-right: 5px;
    }

    .searchbar__box {
        color: var(--secondary-text-color);
        height: 28px;
        display: block;
        width: 100%;
        border-radius: 20px;
        border: none;
        outline: none;
    }

    button.searchbar__button {
        display: none;
    }
    
    div.searchbar__button {
        display: block;
    }

    .header{ 
        margin-bottom: 3rem;
    }

    .card-group {
        flex-direction: row;
        flex-wrap: wrap !important;        
        justify-content: flex-start;
        gap: 20px;
    }

    .card {
        display: flex;
        padding: 0px;
        height: 120px;
        flex: 0 0 31.9% !important;
    }
    
    .card:hover {
        background-color: var(--primary-color);
        color: white;
    }

    .card:hover h6.card__summary_title {
        color: white !important;
    }

    .card:hover .card__summary_footer {
        color: white !important;
    }

    .card__layout {
        height: inherit;
    }

    .card__summary {
        height: inherit;
        padding: 0;
        display: flex;
        flex-direction: column;                
        justify-content: space-between;
        
    }

    .card__summary_body {       
        display: block !important;    
        padding: 10px;
    }

    .card__summary_body > * {
        font-size: 8px !important;     
    }

    .card__button-delete, .card__number {
        display: none;
    }

    .card__summary_title {    
        font-size: 0.9rem;
        padding: 15px;
        margin: 0;   
        white-space:normal;
        text-overflow:clip;
        overflow: hidden;   
        height: auto !important;
        width: 100%;
    }

    .card__summary_footer {           
        border-top: 1px solid var(--line-color);
        padding: 5px;
        padding-left: 10px;
        margin: 0;        
    }

     .card__button-delete {
        z-index: 1;
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        right: 0;
        top: 0;        
        background-color: white;
        color: var(--danger-color);
        border: 2px solid var(--danger-color);
        box-sizing: content-box;
        border-radius: 50%;
        margin-top: -8px;
        margin-right: -8px;
        text-align: center;
        padding: 0 !important;
    }
    
    .card__button-delete > button {
        text-align: center;
        padding: 0px;
        color: var(--danger-color);
    }

    .card__button-delete span {
        line-height: 25px;
        width: inherit;
        height: inherit;        
        font-size: 1.3rem;
    }

    .card__button-delete:hover {
        transform: scale(1.5, 1.5);
        transition-duration: 200ms;
    }
}


@media only screen and (min-width: 1440px){
    
    .searchbar {
        border: 1px solid var(--primary-text-color);
        border-radius: 20px;
        width: 50%;
        height: 30px;
        padding-left: 10px;
        padding-right: 5px;
    }

    .searchbar__box {
        color: var(--secondary-text-color);
        height: 28px;
        display: block;
        width: 100%;
        border-radius: 20px;
        border: none;
        outline: none;
    }

    button.searchbar__button {
        display: none;
    }
    
    div.searchbar__button {
        display: block;
    }

    .header{ 
        margin-bottom: 3rem;
    }

    .card-group {
        flex-direction: row;
        flex-wrap: wrap !important;        
        justify-content: flex-start;
        gap: 20px;
    }

    .card {        
        display: flex;
        padding: 0px;        
        height: 120px;
        flex: 0 0 23.6% !important;
    }
    
    .card:hover {
        background-color: var(--primary-color);
        color: white;
    }

    .card:hover h6.card__summary_title {
        color: white !important;
    }

    .card:hover .card__summary_footer {
        color: white !important;
    }

    .card__layout {
        height: inherit;
    }

    .card__summary {
        height: inherit;
        padding: 0;
        display: flex;
        flex-direction: column;                
        justify-content: space-between;
        
    }

    .card__summary_body {       
        display: block !important;    
        padding: 10px;
    }

    .card__summary_body > * {
        font-size: 8px !important;     
    }

    .card__button-delete, .card__number {
        display: none;
    }

    .card__summary_title {
        font-size: 0.9rem;
        padding: 15px;
        margin: 0;   
        white-space:normal;
        text-overflow:clip;
        overflow: hidden;   
        height: auto !important;
        width: 100%;
    }

    .card__summary_footer {           
        border-top: 1px solid var(--line-color);
        padding: 5px;
        padding-left: 10px;
        margin: 0;        
    }

    .card__button-delete {
        z-index: 1;
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        right: 0;
        top: 0;        
        background-color: white;
        color: var(--danger-color);
        border: 2px solid var(--danger-color);
        box-sizing: content-box;
        border-radius: 50%;
        margin-top: -8px;
        margin-right: -8px;
        text-align: center;
        padding: 0 !important;
    }
    
    .card__button-delete > button {
        text-align: center;
        padding: 0px;
        color: var(--danger-color);
    }

    .card__button-delete span {
        line-height: 25px;
        width: inherit;
        height: inherit;        
        font-size: 1.3rem;
    }

    .card__button-delete:hover {
        transform: scale(1.5, 1.5);
        transition-duration: 200ms;
    }
}

/*Override bootstrap styles*/

.form-group > label {
    color: #161C34;
}

.form-group > input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #161C34;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    outline: none !important;
}

.form-group > input:focus
{
    outline: none !important;
    border: none !important;
}

.form-group > input:active
{
    outline: none !important;
    border: none !important;
}

.btn-group {
    height: 30px !important;
}

.btn-group > button {
    line-height: 0;
}

.dropdown-menu {
    font-size: 0.8rem;
    padding: 8px;
}

/*End overriding*/
