/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --primary-text-color: #999EB7;
    --secondary-text-color: #1A1B4B;
    --helper-text-color: red;
    --background-color: #F6F5FA;
    --primary-color: #F7A400;
    --secondary-color: #F7A400;
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);    
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}

.header {
    width: 100%;
    background-color: white;
    padding: 0.4em;
    box-shadow: 2px 0px 8px 0px rgba(0,0,0, 0.4);
    margin-bottom: 1rem;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none !important;
    color: #F7A400;
    font-weight: bold;
    font-size: 1.5rem;    
}

.logo > span {
    color: #999EB7;
}

.logo:hover {
    color: #F7A400;    
}

.logo:hover > span {
    color: #0366d6;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar__box {
    display: none;
}

.searchbar__button {    
    font-size: 18px;
    color: #1A1B4B;    
    padding: 0px;    
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;    
}

.searchbar__button > span {
    font-size: inherit;
}

h5.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {    
    display: flex;
    flex-direction: column;
}

.field > label {
    color: var(--secondary-text-color);
    font-weight: 500;
    margin-bottom: 2px;    
}

.field > input {    
    height: 28px;
    color: var(--secondary-text-color);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-text-color);
}

.field > select {    
    height: 28px;
    color: var(--secondary-text-color);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--secondary-text-color);
}

label > span {
    vertical-align: middle;    
}

.field > input:active, .field > input:hover,
.field > select:active, .field > select:hover{
    border-bottom: 2px solid var(--primary-color);    
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.horizontal > * {
    margin-right: 5px;
}

.horizontal > label > span {
    color: var(--primary-text-color) !important;
}

.button {
    
    background-color: var(--primary-color);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: white;
    box-shadow: 0px 3px 4px 0px  rgba(0,0,0,0.45);
    outline: none;
    border: none;
    font-family: inherit;
    font-size: .8rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    text-decoration: none !important;    
    text-align: center;
    margin: 0px !important;    
    min-width: 100px;
}

.button-large {
    width: 100%;
}

.button > span {
    font-size: inherit;
    vertical-align: middle;
}

.button:hover { 
    color: white;
    background-color: #3A9EFD;
}

.box {
    display: flex;    
    margin-bottom: 10px;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: row;    
    align-items: center;
    gap: 10px;
}

.right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;        
    align-items: center;
    gap: 10px;
}

.card-group {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card {
    width: 100%;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
    border: none;
    border-radius: 0px;
    margin: 0px !important;
}

.card__number {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1;
    display: block; 
    width: 15%;
    height: inherit;
    margin:0px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__layout {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.card__summary {
    padding: 0.4rem;
    width: 100%;
    text-decoration: none !important;
}

.card__summary:active {
    text-decoration: none;
}

.card__summary:focus {
    text-decoration: none;    
}

.card__summary > * {
    margin: 0;
    padding: 0rem;
}

.card__summary_title {
    font-size: 0.8rem;
    font-weight: bolder;    
    margin-bottom: 5px;
    color: var(--secondary-text-color);
   /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
}

.card__summary_footer > span {
    background-color: var(--primary-color);
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 2px;
    color: white;
    min-width: 50px;    
    text-align: center;
}

.card__summary_body {
    display: none !important;
    font-size: 0.6rem;
    color: var(--primary-text-color) !important;
}

.card__summary_footer {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-color);       
}

.card__overlay {
    display: none;
}

.card__button-delete {
    text-decoration: none !important;
    color: #FF0000; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
}

.card__button-delete:focus {
    color: #FF0000;     
}

.ascendent {
    transform: scale(-1, 1);
}

.descendent {
    transform: scale(1, -1);
}



/*Override bootstrap styles*/

.form-group > label {
    color: #161C34;
}

.form-group > input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #161C34;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    outline: none !important;
}

.form-group > input:focus
{
    outline: none !important;
    border: none !important;
}

.form-group > input:active
{
    outline: none !important;
    border: none !important;
}

.btn-group {
    height: 30px !important;
}

.btn-group > button {
    line-height: 0;
}

.dropdown-menu {
    font-size: 0.8rem;
    padding: 8px;
}

/*End overriding*/